:root {
    --bg-color: #636791;
    --text-color: #dddddd;
    --card-bg-color: #2d2d2d;
    --primary-color: #71dfaf;
    --border-radius: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.button {
    background-color: var(--text-color);
    color: var(--card-bg-color);
    border-radius: var(--border-radius);
    border: none;
    padding: 5px 10px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.control-btn {
    border-radius: 50%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn > * {
    width: 34px;
}