@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url("../fonts/Raleway-Bold.ttf");
}


