.controls-help {
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
    background-color: var(--card-bg-color);
}

.controls-help .control {
    display: flex;
    align-items: center;
}

.controls-help .control:not(:last-child) {
    margin-bottom: 10px;
}

.controls-help .control .key-icon {
    margin-right: 10px;
    background-color: var(--text-color);
    border-radius: 6px;
    height: 24px;
    width: 24px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

@media only screen and (max-width: 600px) {
    .controls-help {
        display: none;
    }
}