body {
    margin: 0;
    background-color: #8589ae ;
}

#game-field {
    background-image: url('../img/empty.png');
    background-repeat: repeat;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;
}

.piece {
    position: absolute;
}